{% extends "templates/web.html" %}


<!-- this is a sample default web page template -->


{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}">
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        
        <div>
            {%- if status == 'Available' -%}
            <span class="badge badge-success">Available</span>
            {%- elif status == 'Out of Stock' -%}
            <span class="badge badge-primary">Out of stock</span>
            {%- endif -%}
        </div>
        <div class="mt-4">
            <div>Price: <strong>{{ price }}</strong></div>
        </div>
        <p>{{ description }}</p>
    </div>
</div>
{% endblock %}